.blink{
    animation:blinkText 1.5s infinite;
}

@keyframes blinkText{
    0%  {    color: rgba(0,0,0,0);    }
    49% {    color: rgba(0,0,0,0.33); }
    50% {    color: rgba(0,0,0,0.33); }
    99% {    color: rgba(0,0,0,0.33); }
    100%{    color: rgba(0,0,0,0);    }
}